<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.oceanz.learn.rocketmq.usr.mapper.TradeUsrMapper">

    <update id="reduceUsrMoney" parameterType="TradeUsr">
        UPDATE trade_usr t SET t.usr_money = t.usr_money - #{usrMoney} WHERE t.usr_id = #{usrId} AND t.usr_money >= #{usrMoney}
    </update>

    <update id="addUsrMoney" parameterType="TradeUsr">
        UPDATE trade_usr t SET t.usr_money = t.usr_money + #{usrMoney} WHERE t.usr_id = #{usrId}
    </update>

</mapper>